@model artevol.Models.product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/site_layout.cshtml";
}

<div class="container">
    <h2 class="text-center" style="color:#788954 ">ADD A PRODUCT</h2>
            

    @using (Html.BeginForm("Create", "products", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.description, htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @*@Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control " } })*@
                    @*@Html.TextAreaFor(model => model.description, new { htmlAttributes = new { @class = "form-control ", rows = "4", cols = "40" } })*@
                    <textarea name="description" class="form-control " rows = "5" cols = "40"></textarea>

                    @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sale_type, "sale_type", htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @Html.DropDownList("sale_type", null, htmlAttributes: new { @class = "form-control " ,id="saleT"})
                    @Html.ValidationMessageFor(model => model.sale_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.art_type, "art_type", htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @Html.DropDownList("art_type", null, htmlAttributes: new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.art_type, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.price, htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control ",id="price" } })
                    @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group d-none">
                @Html.LabelFor(model => model.addedBy, "addedBy", htmlAttributes: new { @class = " control-label col-md-2 fs-2 text-capitalize text-start" })
                <div class="col-md-10">
                    @Html.DropDownList("addedBy", null, htmlAttributes: new { @class = "form-control " })
                    @Html.ValidationMessageFor(model => model.addedBy, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <label class= "fs-2 control-label col-md-2 fs-2 text-capitalize text-start" >Choose Images </label>
                <div class="col-md-10">
                    <input type="file" class="form-control  my-2" multiple name="productImages" />
                    
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn mgt button" />
                </div>
            </div>
        </div>
    }

    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const sales = document.getElementById("saleT");
        const price = document.getElementById("price");

        sales.addEventListener('change', function () {
            if (sales.value == 1) {
                price.disabled = false;
            } else {
                price.disabled = true;
                price.value = null;
            }
        });
    });

    

</script>

